#header {
  display: flex;
  flex-direction: column;
  place-content: top;
  place-items: center;  
  /* border-bottom: 2px black solid; */
  margin: 10px 0px;
  min-width: 1088px;
}

.header-title {
  font-weight: 800;
  font-size: 37px;
}

#sidebar-subtitle-test{
  font-weight: 700;
}
#full-sidebar-test {
  max-width: 170px;
  border-right: 2px black solid;
  font-size: large;
}

#sidebar-title {
  text-align: center;
}

h3 {
  font-weight: 400;
  font-style: italic;
}

#footer {
  border-top: 1px black solid;
  text-align: center;
}